name: Build and Push to Docker Hub
on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        run: |
          docker build -t 3n88/alpine-remotion-render:latest .
          docker push 3n88/alpine-remotion-render:latest
      - name: Cleanup
        run: docker rmi 3n88/alpine-remotion-render:latest || true
